@use "src/assets/styles/variables/colors";

.header-section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;


  > .img-container {
    position: absolute;
    z-index: -1;
    transform: scaleX(-1);
    min-height: 100vh;
    min-width: 1200px;

    .img {
      height: 100%;
    }
  }
}

.home-container {
  display: flex;
  justify-content: center;
}

.header-content {
  background-color: colors.$complementary;
  height: 100%;
  color: colors.$light;
  padding: 50px;

  > .content {
    height: 100%;
    justify-content: center;
    font-family: FreeSans, serif;

    > .title {
      margin: 20px auto;
      font-size: xx-large;
      font-weight: bold;
    }

    > .question {
      font-size: small;
      margin: 10px 0 10px auto;
    }
  }
}