@use "src/assets/styles/variables/colors";
@use "src/assets/styles/variables/breakpoints";
@use "src/assets/styles/mixins/responsiveness";

.login-section {
  min-height: 100vh;
  justify-content: center;
  position: relative;

  > .form {
  }
}

.login-form {
  background-color: #22222280;
  height: 100vh;
  padding: 30px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  @include responsiveness.breakUp(breakpoints.$sm) {
    margin-right: 0;
    margin-left: auto;
  }

  label {
    font-size: large;
    font-weight: bold;
    padding: 0 20px;
    color: colors.$light;
  }

  .field {
    margin: 20px 0;
  }
}

.img-container {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  > .img {
    max-height: 100vh;
  }
}