@use "../variables/colors";

.button {
  border: none;
  padding: 5px 10px;
  outline: none;
  color: colors.$dark;
  border-radius: 5px;

  &__primary {
    @extend .button;
    background-color: colors.$primary;
    color: colors.$light;
  }

  &__secondary {
    @extend .button;
    background-color: colors.$secondary;
    color: colors.$light;
  }

  &__complementary {
    @extend .button;
    background-color: colors.$complementary;
    color: colors.$light;
  }

  &__accent {
    @extend .button;
    background-color: colors.$accent;
    color: colors.$light;
  }

  &__light {
    @extend .button;
    background-color: colors.$light;
    color: colors.$dark;
  }

  &__dark {
    @extend .button;
    background-color: colors.$dark;
    color: colors.$light;
  }
}